

*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: hsl(0, 0%, 95%);                         
     font-size: 15px;
    
  
    }   
  
  
  .flex-container {
    width: 900px;
    height: 500px;
    line-height: 2.482;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 60px;
  
   }
  .box1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
   
  }
  .box2{
    background-color: hsl(184, 100%, 22%);
    
  }
  .box3{
    background-color: hsl(179, 100%, 13%);
     border-radius: 0px 10px 10px 0px;
  
  }
  p{
    color: hsla(0, 0%, 100%, 0.75);
   font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 20px; 
    
  }
  h1{ 
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 20px;
  
   
  }
  button{
    color: hsl(0, 0%, 95%);
    border: 1px solid white;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 20px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 20px auto;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    letter-spacing:0.05em;
  }
  button:hover {
      color: #333;
     
  }
    
    .btn1{
    color: hsl(31, 77%, 52%);
    
    
  }
  .btn2{
    color: hsl(184, 100%, 22%);
  }
  .btn3{
    color: hsl(179, 100%, 13%);
  }
  img{
   margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 20px;  
  }
  
     
  
  
  @media only screen and (max-width:375px) {
    .body{
      background: #a56973;
      }
  .flex-container{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 50px;
  }
  }
  
  .btn4{
    width: 10%;
    padding: 20px 0;
    border: none;
    border-radius: 20px; 
    font-size: 20px;
    background: #3eabc1cc;
    box-shadow: 10px 10px 15px  #f7f3f3,-10px -10px 15px #000;
    position: absolute;
    bottom: 30%
  }