@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-image: url("white.jpg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'poppins';
  background-color: #ecedef;
  line-height: 1.8; 
}
  
a{
  text-decoration: none;
}
#registration-form{
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
}
.form-wrap{
  background: #fff;
  padding: 15px 25px;
  color: #778;
  border-top: 5px solid #4f0;
  border-radius: 0.5px;
}
.form-wrap h1,
.form-wrap p{
  text-align: center;
}
.form-wrap .property{
  margin-top: 15px;
}
.form-wrap .property label{
  display: block;
  color: #000;
}


.form-wrap .property input{
width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}
.form-wrap button{
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 25px;
  background-color: #4f0;
  color: #fff;
  cursor: pointer;
  border: 1px solid #4f0;
  font-family: 'poppins';
  font-size: 16px;
  transition: 1s;
}
.form-wrap button:hover{
  background-color: #4f0;
  transition: 1s;
}
.form-wrap .btn{
  font-size: 13px;
  margin-top: 20px;
}
footer{
  text-align: center;
  color: #0fff;
  }
footer a{
  color: #4f0;
  
}
